main{
    background: url("img/bg-Principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    color: #aa8a63;
    font-family: 'Cinzel', serif;
 }
nav{
    font-size: 30px;
}
a{
    color: #aa8a63;
    text-decoration: none;
}
nav a{
    padding-inline: 15px;
}
h1{
    font-size: 50px;
}
.avatar{
    color: #aa8a63;
    background-color: rgba(0,0,0,0.5);
}
